@import url("https://fonts.googleapis.com/css2?family=Abel&display=swap");

* {
  font-family: "Abel", sans-serif;
}
body {
  margin: 0;
  background-image: url("../Images/Disco.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  width: 100%;
  height: 80px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #227497;
  color: #c1d200;
  font-size: 2.5rem;
  font-weight: 400;
  text-align: center;
  padding-top: 10px;
  box-shadow: 0px 10px 8px rgba(0, 0, 0, 0.1);
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
}
header img {
  max-width: 100%;
  height: auto;
  margin-left: 20px;
}

main {
  flex: 1;
  padding: 100px 10px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

nav {
  word-spacing: 100px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-left: 80px;
}

.backgroundGrayBox {
  width: 98%;
  background: rgba(217, 217, 217, 0.7);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 25px;
  backdrop-filter: blur(4px);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  box-sizing: border-box;
  padding: 20px;
  margin: 10px auto;
  max-width: 1200px;
}

footer {
  width: 100%;
  height: 40px;
  background: #227497;
  color: #000000;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 1100;
}

footer p {
  margin: 0;
}

.logos {
  display: flex;
  align-items: center;
}

.logos img {
  height: 30px;
  width: 30px;
  margin-left: 10px;
  transition: transform 0.3s;
}

.logos img:hover,
nav a img:hover {
  transform: translateY(-5px);
}

.garyDiscoPort,
.imageWrapper {
  border-radius: 25px;
  height: 250px;
  width: 250px;
}

.garyDiscoPort,
.discoDinerPaper {
  border-radius: 25px;
  max-width: 100%;
  height: auto;
}

.paragraphContainer {
  width: 100%;
  max-width: 70%;
  font-size: 20px;
  font-family: "Abel", sans-serif;
}

.imageWrapper {
  padding-top: 25px;
  overflow: hidden;
}

.discoDinerPaper {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 25px;
}

h2 {
  font-size: 42px;
}

h2,
h3 {
  margin: 0;
  padding: 0;
  font-family: "Abel", sans-serif;
  font-weight: bolder;
}

.imageHeadingContainer,
.paragraphContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.paragraphContainer {
  max-width: 70%;
  font-size: 20px;
  font-family: "Abel", sans-serif;
}

.paragraphContainer p {
  padding-top: 25px;
  padding-bottom: 10px;
}

/* @Media */

@media only screen and (max-width: 1300px) {
  header img {
    width: 350px;
  }
  nav {
    margin-left: 0px;
  }
  nav img {
    width: 140px;
  }

  .backgroundGrayBox {
    width: 96%;
  }
}

@media only screen and (max-width: 1000px) {
  header img {
    width: 250px;
    margin-left: 10px;
  }
  nav {
    margin-left: 0px;
  }
  nav img {
    width: 120px;
  }

  .backgroundGrayBox {
    width: 95%;
  }
}

@media only screen and (max-width: 700px) {
  header {
    width: auto;
    height: 160px;
    flex-wrap: wrap;
  }
  header img {
    width: 470px;
    margin-left: 10px;
    justify-content: center;
  }
  nav {
    margin-left: 0px;
  }
  nav img {
    width: 110px;
    flex-wrap: wrap;
  }
  .backgroundGrayBox {
    flex-direction: column;
    align-items: center;
    margin-top: 80px;
  }
  .garyDiscoPort {
    width: 50%;
    height: auto;
  }
}
