body {
  width: 1440px;
  height: auto;
  margin: 0px;
  background-image: url("../Images/shawnanggg-TQQE32Gz4jw-unsplash.jpg");
  background-size: contain;
}

header {
  width: 1450px;
  height: 80px;
  left: 0px;
  top: 0px;
  position: absolute;
  background: #49c6fc;
  color: #c1d200;
  font-size: 60px;
  font-family: Inspiration;
  font-weight: 400;
  letter-spacing: 18px;
  word-wrap: break-word;
  flex-shrink: 0;
  display: inline-flex;
  align-items: normal;
  box-shadow: 0px 10px 8px rgba(0, 0, 0, 0.1);
}

main {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

nav {
  width: 40%;
  word-spacing: 100px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-left: 120px;
}

footer {
  background: #c1d200;
}

.navlink {
  width: fit-content;
  height: 100%;
  margin: 10px;
}

nav a img:hover {
  transform: translateY(-5px);
}

header img {
  margin-top: 10px;
  margin-left: 50px;
}

.backgroundGrayBox {
  width: 98%;
  height: 750px;
  background: rgba(217, 217, 217, 0.7);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 25px;
  backdrop-filter: blur(4px);
  margin: 100px 0 0 0px;
  padding: 20px;
  display: flex;
  justify-content: center;
}

.bigBox {
  width: calc(100% - 40px);
  max-width: 1200px;
  border-radius: 10px;
  margin: 20px auto;
  padding: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.roundBoxes {
  width: 358px;
  height: 78px;
  margin-bottom: 100px;
  background: white;
  border-radius: 20px;
  margin: 10px;
  overflow: hidden;
}

.roundBoxes.active {
  width: 358px;
  height: 341px;
}

.roundBoxesText {
  color: black;
  font-size: 16px;
  font-family: "Arial", sans-serif;
  justify-content: center;
  max-width: 260px;
}

.roundBoxes p {
  font-size: 24px;
  bottom: 20px;
  left: 20px;
  margin: 0;
  opacity: 0;
}

.roundBoxes h3 {
  text-align: center;
  padding-top: 10px;
}

.roundBoxes.active p {
  opacity: 1;
}

.roundBoxes.active .roundBoxesContent img {
  opacity: 1;
}

.roundBoxes:not(.active) .roundBoxesContent img {
  opacity: 0;
}
