@import url("https://fonts.googleapis.com/css2?family=Abel&display=swap");
* {
  font-family: "Abel", sans-serif;
}

body {
  width: 100% - 10px;
  height: auto;
  margin: 0px;
  background-image: url("/Images/amel-majanovic-0s-D2GUrC-A-unsplash.jpg");
  background-size: cover; /* Adjust as needed */
  background-position: center; /* Adjust as needed */
  background-attachment: fixed;
}

header {
  width: 100%;
  height: 80px;
  left: 0px;
  top: 0px;
  position: fixed;
  z-index: 1000;
  background: #227497;
  color: #c1d200;
  font-size: 60px;
  font-family: Inspiration;
  font-weight: 400;
  letter-spacing: 18px;
  word-wrap: break-word;
  flex-shrink: 0;
  display: inline-flex;
  align-items: normal;
  box-shadow: 0px 10px 8px rgba(0, 0, 0, 0.1);
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

main {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

nav {
  word-spacing: 100px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-left: 80px;
}

footer {
  width: 100% - 20px;
  height: 40px;
  background: #227497;
  color: #000000;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  padding-left: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer p {
  margin: 0;
}

h1 {
  text-align: left;
}

nav a img:hover {
  transform: translateY(-5px);
}

header img {
  margin-top: 10px;
  margin-left: 50px;
}

/* Classes */

.logos {
  display: flex;
  margin-right: 20px;
}

.logos img {
  height: 30px;
  width: 30px;
  margin-left: 10px;
}

.navlink {
  width: fit-content;
  height: 100%;
  margin: 10px;
}

.backgroundGrayBox {
  width: 97%;
  height: fit-content;
  background: rgba(217, 217, 217, 0.7);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 25px;
  backdrop-filter: blur(4px);
  margin: 100px 0 0 0px;
  padding: 20px;
}

.bigBox {
  width: calc(100% - 40px);
  max-width: 1200px;
  border-radius: 10px;
  margin: 20px auto;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.roundBoxes {
  width: 358px;
  height: 78px;
  margin-bottom: 100px;
  background: rgb(255, 255, 255);
  border-radius: 20px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: flex-start;
  margin: 10px;
  position: relative;
  cursor: pointer;
  overflow: hidden;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  transition: height 0.5s linear;
}

.roundBoxes.active {
  width: 358px;
  height: 341px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.roundBoxesText {
  color: black;
  font-size: 16px;
  font-family: "Arial", sans-serif;
  justify-content: center;
  max-width: 260px;
}

.roundBoxes p {
  font-size: 24px;
  position: absolute;
  bottom: 20px;
  left: 20px;
  margin: 0;
  opacity: 0;
}

.roundBoxes h3 {
  text-align: center;
  padding-top: 10px;
}

.roundBoxes.active p {
  opacity: 1;
}

.seePrices {
  font-size: 20px;
  text-align: center;
  font-family: "Abel", sans-serif;
  padding-bottom: 20px;
  letter-spacing: 3px;
  font-weight: 1000;
}

.roundBoxes.active .roundBoxesContent img {
  opacity: 1;
}

.roundBoxes:not(.active) .roundBoxesContent img {
  opacity: 0;
}

.roundBoxesContent:hover h3 {
  color: #49c6fc;
  transition: 0.5s;
}

/* @Media */

@media only screen and (max-width: 1300px) {
  header img {
    width: 350px;
  }
  nav {
    margin-left: 0px;
  }
  nav img {
    width: 140px;
  }

  .backgroundGrayBox {
    width: 96%;
  }
}

@media only screen and (max-width: 1000px) {
  header img {
    width: 250px;
    margin-left: 10px;
  }
  nav {
    margin-left: 0px;
  }
  nav img {
    width: 120px;
  }

  .backgroundGrayBox {
    width: 95%;
  }
}

@media only screen and (max-width: 700px) {
  header {
    width: auto;
    height: 160px;
    flex-wrap: wrap;
  }
  header img {
    width: 470px;
    margin-left: 10px;
    justify-content: center;
  }
  nav {
    margin-left: 0px;
  }
  nav img {
    width: 110px;
    flex-wrap: wrap;
  }
  .backgroundGrayBox {
    margin-top: 180px;
    width: auto;
  }
}
