body {
  width: 1440px;
  height: auto;
  margin: 0px;
  background-image: url('/Images/r-mac-wheeler-CJZi367anGU-unsplash.jpg');
  background-size: cover;
}

header {
  width: 1450px;
  height: 80px;
  left: 0px;
  top: 0px;
  position: absolute;
  background: #49c6fc;
  color: #c1d200;
  font-size: 60px;
  font-family: Inspiration;
  font-weight: 400;
  letter-spacing: 18px;
  word-wrap: break-word;
  flex-shrink: 0;
  display: inline-flex;
  align-items: normal;
  box-shadow: 0px 10px 8px rgba(0, 0, 0, 0.1);
}

main {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

nav {
  width: 40%;
  word-spacing: 100px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-left: 120px;
}

footer {
  width: 1430px;
  height: 40px;
  background: #49c6fc;
  color: #000000;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  padding-left: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer p {
  margin: 0;
}

h1 {
  text-align: left;
}

nav a img:hover {
  transform: translateY(-5px);
}

header img {
  margin-top: 10px;
  margin-left: 50px;
}

/* Classes */

.logos {
  display: flex;
  margin-right: 20px;
}

.logos img {
  height: 30px;
  width: 30px;
  margin-left: 10px;
}

.navlink {
  width: fit-content;
  height: 100%;
  margin: 10px;
}

.backgroundGrayBox {
  width: 98%;
  height: 1380px;
  background: rgba(217, 217, 217, 0.7);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 25px;
  backdrop-filter: blur(4px);
  margin: 100px 0 0 0px;
  padding: 20px;
}

.bigBox {
  width: calc(100% - 40px);
  max-width: 1200px;
  border-radius: 10px;
  margin: 20px auto;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.roundBoxes {
  width: 358px;
  height: 78px;
  margin-bottom: 100px;
  background: rgb(255, 255, 255);
  border-radius: 20px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: flex-start;
  margin: 10px;
  position: relative;
  overflow: hidden;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.roundBoxesText {
  color: black;
  font-size: 16px;
  font-family: 'Arial', sans-serif;
  justify-content: center;
  max-width: 260px;
}

.roundBoxes p {
  font-size: 24px;
  position: absolute;
  bottom: 20px;
  left: 20px;
  margin: 0;
  opacity: 0;
}

.roundBoxes h3 {
  text-align: center;
  padding-top: 10px;
}

select {
  color: black;
  font-size: 16px;
  font-weight: 600;
  font-family: 'Arial', sans-serif;
  justify-content: center;
  max-width: 260px;
  text-align: center;
  padding-top: 10px;
  margin: 20px auto;
  border: none;
}

button {
  display: block;
  width: 15%;
  margin: 1em auto;
  height: 2em;
  font-size: 1.1rem;
  background-color: white;
  border-color: white;
  border-radius: 20px;
  min-width: 300px;
}

button a {
  text-decoration: none;
  color: black;
}

button a:hover {
  text-decoration: none;
  color: black;
}

button a:visited {
  text-decoration: none;
  color: black;
}

/* @Media */

@media only screen and (max-width: 1000px) {
  body {
    width: 740px;
    height: fit-content;
  }
  header {
    width: 1000px;
  }
  header img {
    width: 350px;
  }
  nav {
    margin-left: 0px;
  }
  nav img {
    width: 100px;
  }
  main {
    justify-content: center;
  }
  footer {
    width: 980px;
  }
  .image-container {
    height: 300px;
    width: 500px;
  }
  .backgroundGrayBox {
    width: 940px;
    height: 2800px;
  }
}

@media only screen and (max-width: 700px) {
  body {
    width: 600px;
    height: fit-content;
  }
  header {
    width: 700px;
  }
  header img {
    width: 250px;
    margin-left: 10px;
  }
  nav {
    margin-left: 0px;
  }
  nav img {
    width: 100px;
  }
  main {
    justify-content: center;
  }
  footer {
    width: 680px;
  }
  .image-container {
    height: 300px;
    width: 500px;
  }
  .backgroundGrayBox {
    width: 639px;
    height: 2800px;
  }
}
